#root {
    height: 100vh;
}

html {
    height: 100%;
}

/* ----------------------------- Top-Level Setup ---------------------------- */
.container-primary {
    width: 100%;
    height: 100%;
    padding: 0 24px;
}

.container-secondary {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgb(64, 69, 78);
}

.wsidebar {
    scrollbar-width: thin;
}

.list-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    padding: 12px 24px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.list-text-active {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.125rem;
  padding: 12px 24px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #ffc800;
}

.table-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    padding-bottom: 12px;
    padding-top: 12px;
    cursor: pointer;
}

.table {
    display: flex;
    //float: left;
    width: 100%;
    flex-direction: column;
    //align-items: center;
}

.table-entries {
    overflow-y: scroll;
}

.table-header {
    width: calc(100% - 56px);
    box-sizing: border-box;
    margin-left: 24px;
    margin-right: 32px;
}

.hideTableHeader {
    width: calc(100% - 56px);
    box-sizing: border-box;
    margin-left: 24px;
    margin-right: 32px;
    visibility: hidden;
}

.table-header-section {
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 12px;
}

.table-header-button {
    padding: 0;
    margin-left: 20px;
}

.table-header-button-disabled{
    padding: 0;
    margin-left: 12px;
    cursor: default;
    visibility: hidden;
}

.undo-redo-button {
  padding: 0;
}

.undo-redo-button-disabled{
  padding: 0;
  margin-left: 12px;
  cursor: default;
  visibility: hidden;
}

.hidden-icon{
  visibility: hidden;
}

.table-header-buttons {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
}

.undo-redo-buttons {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 15%;
}

.table-entry-buttons {
    padding: 0;
    margin-left: 18px;
    margin-right: 18px;
}

.table-entry {
    //padding: 12px 24px;
    //padding: 12px 0;
}

.button-group {
    height: 100%;
    display: flex;
    align-items: center;
}

.sidebar-header {
    width: calc(100% - 48px);
    box-sizing: border-box;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 24px;
    padding-bottom: 12px
}

.sidebar-options {
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.sidebar-buttons {
    padding: 0;
}

.modal-input {
    width: 100%;
}

.login-modal {
    width: 750px;
}

.modal-header-div {
    margin: auto;
    margin-right: 45%;
}

.modal-header-div1 {
    margin: auto;
    margin-right: 42.5%;
}

.modal-header-div2 {
    margin: auto;
    margin-right: 39%;
}

.signup-modal {
    display: block;
    width: 750px;
}

.modal-col-gap{
    column-gap: 24px;
}

.modal-button {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    width: 300px;
    height: 50px;
    text-align: center;
    align-self: center;
    justify-content: center;
    margin-right: 7%;
}

.modal-button1 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    width: 300px;
    height: 50px;
    text-align: center;
    align-self: center;
    justify-content: center;
    margin-left: 7%;
}

.modal-spacer {
    height: 24px;
}

.main-login-modal {
    padding: 24px 24px 0px 24px;
}

.modal-error {
    height: 24px;
    align-items: center;
    display: flex;
}

.delete-modal {
    width: 750px;
}

.col-spacer {
    width: 24px;
    display: inline-block;
}

.wsidebar {
    overflow-y: scroll;
}

.list-item-edit, .table-input {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.table-select{
  width: 100%;
}

.list-item-edit-input {
    padding: 23px 24px 24px 24px !important;
}

.table-input1{
  width: 100%;
  height: 100%;
    display: flex;
    align-items: center;
}

.table-input, .table-select {
    height: 100%;
    display: flex;
    align-items: center;
}

.table-input-class {
    padding-left: 0px !important;
    padding-right: 0px !important;
    //font-size: 1.125rem;
}

.hidden {
  visibility: hidden;
}

// .styleNavbar {
//   margin-left: 0.5%;
//   margin-right: 0.5%;
//   margin-bottom: 10px;
// }

// .styleSidebar {
//   margin-top: 5%;
//   margin-left: 3%;
//   height: 97%;
// }

// .styleMain {
//   margin-top: 0.9%;
//   margin-right: 0.5%;
//   height: 97%;

// }
