.entireSpreadsheet {
    height: 100%;
    width: 100%;
}

.flexSpreadsheet {
    display: flex;
    margin-top: 1%;
    margin-bottom: 0.5%;
    margin-left: 10%;
    margin-right: 10%;
    height: fit-content;
}

.plusSpreadsheet {
    transform: scale(1.9);
    color: #48c526;
    font-size: 24px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0.5%;
}

.plusSpreadsheet:hover {
    cursor: pointer;
}

.undoArrowSpreadsheet {
    transform: scale(1.7);
    color: white;
    font-size: 24px;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 0.5%;
}

.undoArrowSpreadsheet:hover {
    cursor: pointer;
}

.redoArrowSpreadsheet {
    transform: scale(1.7);
    color: white;
    font-size: 24px;
    margin-left: 1%;
    margin-top: 0.5%;
}

.redoArrowSpreadsheet:hover {
    cursor: pointer;
}

.currentRegionSpreadsheet {
    color: white;
    font-size: 28px;
    font-weight: bold;
    margin-left: 30%;
    margin-right: 2%;
}

.currentRegionNameSpreadsheet {
    color: #4f8bb8;
    font-size: 28px;
    font-weight: bold;
    margin-right: auto;
}

.currentRegionNameSpreadsheet:hover {
    cursor: pointer;
}

.spreadsheetOverall {
    width: 80%;
    height: 80%;
    margin: auto;
    background-color: #c4c4c4;
}

.headerSpreadsheet {
    display: flex;
    background-color: #d02f2f;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.headerNameSpreadsheet{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: auto;
    margin-left: 3.5%;
    padding-left: 5%;
    padding-right: 5%;
}

.headerNameSpreadsheet:hover {
    cursor: pointer;
    background-color: lightgray;
}

.headerCapitalSpreadsheet{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.headerCapitalSpreadsheet:hover {
    cursor: pointer;
    background-color: lightgray;
}

.headerLeaderSpreadsheet{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.headerLeaderSpreadsheet:hover {
    cursor: pointer;
    background-color: lightgray;
}

.headerFlagSpreadsheet{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.headerFlagSpreadsheet:hover {
    cursor: pointer;
    background-color: lightgray;
}

.headerLandmarksSpreadsheet{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.headerLandmarksSpreadsheet:hover {
    cursor: pointer;
    background-color: lightgray;
}

.itemsSpreadsheet {
    overflow-y: auto;
    height: 93%;
    background-color: #c4c4c4;
    overflow-x: hidden;
}

.regionItemSpreadsheet {
    display: flex;
    height: 50px;
}

.regionItemCloseIconSpreadsheet{
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 0.7%;

}

.regionItemCloseIconSpreadsheet:hover {
    background-color: lightgray;
    cursor: pointer;
}

.regionItemCloseIconSpreadsheet1{
    transform: scale(1.7);
    color: #d02f2f;
}

.regionItemNameSpreadsheet {
    font-size: 24px;
    color: #4f8bb8;
    margin-left: 1%;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    padding-left: 7%;
    padding-right: 8%;
    border-bottom: solid black;
    border-left: solid black;
    border-right: solid black;
    margin: auto;
    width: 100%;
}

.regionItemNameSpreadsheet:hover {
    background-color: lightgray;
}

.regionItemCapitalSpreadsheet {
    font-size: 24px;
    color: black;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    padding-left: 7%;
    padding-right: 7%;
    border-bottom: solid;
    border-right: solid;
    margin: auto;
    width: 100%;
}

.regionItemCapitalSpreadsheet:hover {
    background-color: lightgray;
}

.regionItemLeaderSpreadsheet{
    font-size: 24px;
    color: black;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    padding-left: 7%;
    padding-right: 7%;
    border-bottom: solid;
    border-right: solid;
    margin: auto;
    width: 100%;
}

.regionItemLeaderSpreadsheet:hover {
    background-color: lightgray;
}

.regionItemFlagSpreadsheet{
    font-size: 24px;
    color: black;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    padding-left: 7%;
    padding-right: 7%;
    border-bottom: solid;
    border-right: solid;
    margin: auto;
    width: 100%;
}

.regionItemFlagSpreadsheet:hover {
    background-color: lightgray;
}

.regionItemLandmarksSpreadsheet{
    font-size: 24px;
    color: #4f8bb8;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    padding-left: 10.6%;
    padding-right: 10.6%;
    border-bottom: solid black;
    border-right: solid black;
    margin: auto;
    width: 100%;
}

.regionItemLandmarksSpreadsheet:hover{
    background-color: lightgray;
}
