.navbarDirections {
    position:absolute;
    color: white;
    top: 2.5%;
    left: 22%;
    display: flex;
    font-size: 22px;
    overflow-x: auto;
}

.navSiblings {
    position: absolute;
    top: 2.5%;
    left: 45%;
    width: 100%;
}

.prevSibling {
    transform: scale(1.7);
    color: white;
    margin-left: 5%;
}

.prevSibling:hover {
    cursor: pointer;
}

.nextSibling {
    transform: scale(1.7);
    color: white;
    margin-left: 2%;
}

.nextSibling:hover {
    cursor: pointer;
}

.navbarClickDiv:hover {
    cursor: pointer;
}

.flexContainerviewer{
    display: flex;
    height: 100%;
    width: 100%;
}

.leftSideViewer{
    width: 100%;

}

.undoRedoViewer{
    margin-top: 4%;
    margin-left: 13%;
}

.undoArrowViewer{
    /* margin-top: 4%;
    margin-left: 13%; */
    transform: scale(1.7);
    color: white;
    font-size: 24px;
}

.undoArrowViewer:hover{
    background-color: lightgray;
}

.redoArrowViewer{
    margin-left: 4%;
    /* margin-top: 4%; */
    transform: scale(1.7);
    color: white;
    font-size: 24px;

}

.redoArrowViewer:hover{
    background-color: lightgray;
}

.flagViewer{
    height: 300px;
    width: 600px;
    margin-left: 10%;
    margin-top: 4%;
    position: relative;
}

.regionInfoViewer{
    margin-left: 11%;
    margin-top: 5%;
}

.regionNameViewer{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-top: 1%;

}

.parentRegionViewer{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-top: 1%;
    display: flex;
}

.clickParentViewer{
    color:#4f8bb8;
}

.clickParentViewer:hover {
    cursor: pointer;
}

.editParentRegionViewer{
    transform: scale(1.3);
    color: #cea449;
    margin-left: 2%;
    margin-top: 0.7%;
}

.editParentRegionViewer:hover{
    cursor: pointer;
}

.editingParentRegionViewer{
    margin-left: 2%;
}

.regionCapitalViewer{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-top: 1%;

}

.regionLeaderViewer{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-top: 1%;

}

.subregionsViewer{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-top: 1%;

}

.rightSideViewer{
    width: 100%;

}

.regionLandmarksHeader{
    font-size: 28px;
    font-weight: bold;
    color: white;
    margin-top: 4%;
    margin-left: 30%;
}

.regionLandmarksBox{
    width: 80%;
    height: 65%;
    margin-top: 2%;
    margin-left: 3%;
    background-color: black;

}

.regionLandmarksListViewer{
    height: 100%;
    overflow-y: auto;

}

.regionLandmarksAddViewer{
    background-color: #3e3f3e;
    height: 7%;
}

.plusViewer{
    transform: scale(1.9);
    color: #48c526;
    font-size: 24px;
    margin-left: 1%;
}

.plusViewer:hover {
    cursor: pointer;
}

.regionLandmarksEdit{
    width: 50%;
    margin-left: 1%;
    height: 43px;
}